
            @font-face {
                font-family: authentic;
                src: url("./Font/Authentic_Signature.ttf");
                
            }
            .product-div {
                border: 3px #ffffff solid;
                                width: 450px;
                margin-bottom: 30px;
                text-align: center;
                font-family: Arial;
            }

            .container {
                display: flex;
                flex-flow: row;
                justify-content: space-around;
                flex-wrap: wrap;
                text-align: center;
                background-color: #ffffff;
            }

            img {
                width: 400px;
                height: 400px;
                margin: 0 auto;
                display: block
            }

            body {
               background-image: url("https://i2.wp.com/wallpapercave.com/wp/wp4294282.jpg");
            }

            .text-center {
                text-align: center;
                font-family: fantasy;
            }

            .details {
                margin-top: 20px;
            }

            .detail-display {
                /* width: 30%; */
                padding: 0 5%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                
            }
            .detail-display h1{
                font-family: authentic !important;
            }
       