body{
  background-image: url("./img/tải\ xuống.png");
}
.container{
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btn3 {
    padding: 5px;
    outline: 0;
    font-size: 17px;
    color: rgb(0, 0, 0);
    background: linear-gradient(
      to right,
      #fdde5c,
      #ffcb20,
      hsl(27, 94%, 67%),
      #ff9f45,
      #ffc16f,
      #ffe799,
      #fffbc7d5
    );
    border-radius: 3px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
  }
#buy{
    padding: 5px;
    outline: 0;
    font-size: 17px;
    color: rgb(0, 0, 0);
    background: linear-gradient(
      to right,
      #ffb4b4,
      #ff7487,
      rgb(255, 95, 95),
      #f34141e7,
      #ff8f45,
      #ffcf67,
      #ffe6a1d5
    );
    border-radius: 3px;
    border: 0;
    box-shadow: none;
    cursor: pointer; 
}