body{
    background-image: url("https://www.xmple.com/wallpaper/graph-paper-brown-white-grid-1920x1080-c2-d2b48c-ffffff-l2-2-42-a-0-f-20.svg");
}
.container{
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}